#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 35    // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    zip_scroll_scaler: zip_scroll_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_WHEEL INPUT_REL_HWHEEL>;
        track-remainders;
    };
};

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <0>;      // 0
    time-to-max-speed-ms = <0>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <400>;
    acceleration-exponent = <1>;
};

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    TD_CAPS_LSFT: TD_CAPS_LSFT {
        compatible = "zmk,behavior-tap-dance";
        label = "TD_CAPS_LSFT";
        #binding-cells = <0>;
        bindings = <&kp CAPS>, <&kp LSHIFT>;
    };

    HT_AS: HT_AS {
        compatible = "zmk,behavior-hold-tap";
        label = "HT_AS";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        flavor = "hold-preferred";
    };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <270>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };

        CB_ENT {
            bindings = <&kp ENTER>;
            key-positions = <47 48>;
        };

        CB_EQUAL {
            bindings = <&as LS(EQUAL) EQUAL>;
            key-positions = <22 23>;
        };

        CB_MINUS {
            bindings = <&as LS(MINUS) MINUS>;
            key-positions = <35 36>;
        };

        CB_SCRIPTLET_O {
            bindings = <&MC_SCRIPTLET_O>;
            key-positions = <48 50>;
        };

        CB_SCRIPTLET_C {
            bindings = <&MC_SCRIPTLET_C>;
            key-positions = <49 50>;
        };

        CB_LANG {
            bindings = <&as LANG_HANJA RALT>;
            key-positions = <29 30>;
            timeout-ms = <60>;
        };

        CB_BKSP {
            bindings = <&kp BACKSPACE>;
            key-positions = <34 35>;
        };

        CB_DEL {
            bindings = <&kp DEL>;
            key-positions = <21 22>;
        };
    };

    macros {
        MC_SCRIPTLET_O: MC_SCRIPTLET_O {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp PRCNT>;
            label = "MC_SCRIPTLET_O";
        };

        MC_SCRIPTLET_C: MC_SCRIPTLET_C {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp PRCNT &kp GT>;
            label = "MC_SCRIPTLET_C";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp ESC             &as LS(N1) N1  &as LS(N2) N2  &as LS(N3) N3  &as LS(N4) N4  &as LS(N5) N5    &kp UP_ARROW     &as LS(N6) N6  &as LS(N7) N7  &as LS(N8) N8        &as LS(N9) N9           &as LS(N0) N0      &kp BACKSPACE
&kp TAB             &as LS(Q) Q    &as LS(W) W    &as LS(E) E    &as LS(R) R    &as LS(T) T      &kp DOWN_ARROW   &as LS(Y) Y    &as LS(U) U    &as LS(I) I          &as LS(O) O             &as LS(P) P        &as LS(BSLH) BSLH
&HT_AS LSHIFT CAPS  &as LS(A) A    &as LS(S) S    &as LS(D) D    &as LS(F) F    &as LS(G) G      &kp LEFT_ARROW   &as LS(H) H    &as LS(J) J    &as LS(K) K          &as LS(L) L             &as LS(SEMI) SEMI  &as LS(APOS) APOS
&kp LCTRL           &as LS(Z) Z    &as LS(X) X    &as LS(C) C    &as LS(V) V    &as LS(B) B      &kp RIGHT_ARROW  &as LS(N) N    &as LS(M) M    &as LS(COMMA) COMMA  &as LS(DOT) DOT         &as LS(FSLH) FSLH  &as LS(GRAVE) GRAVE
&kp C_MUTE          &kp LALT       &kp LEFT_GUI   &kp ENTER      &mo 2          &kp SPACE        &kp ENTER        &kp ENTER      &mo 2          &kp SPACE            &HT_AS RALT LANG_HANJA  &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "BASE";
        };

        NO_ASFT {
            bindings = <
&kp ESC             &kp N1    &kp N2        &kp N3     &kp N4  &kp N5       &kp UP_ARROW     &kp N6     &kp N7  &kp N8     &kp N9                  &kp N0    &kp BACKSPACE
&kp TAB             &kp Q     &kp W         &kp E      &kp R   &kp T        &kp DOWN_ARROW   &kp Y      &kp U   &kp I      &kp O                   &kp P     &kp BSLH
&HT_AS LSHIFT CAPS  &kp A     &kp S         &kp D      &kp F   &kp G        &kp LEFT_ARROW   &kp H      &kp J   &kp K      &kp L                   &kp SEMI  &kp APOS
&kp LCTRL           &kp Z     &kp X         &kp C      &kp V   &kp B        &kp RIGHT_ARROW  &kp N      &kp M   &kp COMMA  &kp DOT                 &kp FSLH  &kp GRAVE
&kp C_MUTE          &kp LALT  &kp LEFT_GUI  &kp ENTER  &mo 2   &kp SPACE    &kp ENTER        &kp ENTER  &mo 2   &kp SPACE  &HT_AS RALT LANG_HANJA  &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "NO_ASFT";
        };

        RAISE {
            bindings = <
&kp F11              &kp F1          &kp F2          &kp F3           &kp F4     &kp F5    &trans  &kp F6  &kp F7    &kp F8    &kp F9     &kp F10      &kp F12
&as LS(GRAVE) GRAVE  &kp HOME        &kp UP_ARROW    &kp END          &kp PG_UP  &trans    &trans  &trans  &kp HOME  &kp UP    &kp END    &kp PAGE_UP  &as LS(LEFT_BRACKET) LEFT_BRACKET
&trans               &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PG_DN  &trans    &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN    &as LS(RIGHT_BRACKET) RIGHT_BRACKET
&trans               &kp C_MUTE      &kp C_VOL_DN    &kp C_VOL_UP     &trans     &trans    &trans  &trans  &trans    &trans    &trans     &trans       &trans
&trans               &trans          &trans          &trans           &trans     &trans    &trans  &trans  &trans    &mo 3     &mo 4      &tog 1
            >;

            display-name = "RAISE";
            sensor-bindings = <&scroll_encoder>;
        };

        M1 {
            bindings = <
&kp GRAVE   &kp F1           &kp F2          &kp F3           &kp F4           &kp F5             &mmv MOVE_UP     &kp F6           &kp F7           &kp F8      &kp F9     &kp F10           &trans
&trans      &kp GRAVE        &mkp LCLK       &mkp MCLK        &mkp RCLK        &mkp MB4           &mmv MOVE_DOWN   &kp PG_UP        &kp END          &kp UP      &kp HOME   &kp MINUS         &kp EQUAL
&trans      &kp TILDE        &trans          &trans           &trans           &mkp MB5           &mmv MOVE_LEFT   &kp PG_DN        &kp LEFT         &kp DOWN    &kp RIGHT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans      &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI    &mmv MOVE_RIGHT  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp INSERT  &kp F11    &kp F12           &trans
&kp C_MUTE  &trans           &trans          &trans           &trans           &trans             &mkp LCLK        &trans           &trans           &trans      &trans     &trans
            >;

            display-name = "M1";
            sensor-bindings = <&scroll_encoder>;
        };

        M2 {
            bindings = <
&kp TILDE  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mmv MOVE_UP     &kp F6  &kp F7  &kp F8      &kp F9     &kp F10      &trans
&trans     &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans          &mmv MOVE_DOWN   &trans  &trans  &kp F11     &kp F12    &kp UNDER    &kp PLUS
&trans     &out OUT_USB  &out OUT_BLE    &trans        &trans        &trans          &mmv MOVE_LEFT   &trans  &trans  &trans      &trans     &kp LBRC     &kp RBRC
&trans     &sys_reset    &trans          &bootloader   &trans        &trans          &mmv MOVE_RIGHT  &trans  &trans  &sys_reset  &soft_off  &bootloader  &trans
&trans     &trans        &trans          &trans        &trans        &trans          &mkp LCLK        &trans  &trans  &trans      &trans     &trans
            >;

            display-name = "M2";
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
